
<style type="text/css">
.container {
  margin: 90px auto 0 auto;
  max-width: 180px;
}

/*.c-loader {
  background: green;
  background: linear-gradient(#5bc236, #308014, #006400);
  width: 208px;
  height: 208px;
  position: absolute;
  border-radius: 500px;
}



.c-loader:after {
  background: #F5FFFA;
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 28px 0 0 174px;
  border-radius: 50%;
  transform: rotate (-53deg);
}*/


</style>
<div class="container">
  <div class="co-loader">
   <div class="c-loader-border"></div>
    <div class="c-loader">
      <span class="c-loader-span"></span>
    </div>
  </div>

  <div class="co-loader mini20">
   <div class="c-loader-border"></div>
    <div class="c-loader">
      <span class="c-loader-span"></span>
    </div>
  </div>

</div>