

<div class="add-wall">
	<header class="add-wall-header">
        <div ng-click="addGroupClose($event)" class="add-wall-header-close">
            <i class="icon icon-cancel"></i>
        </div>
		<div class="add-wall-group">
			<div class="add-wall-group-block">
				<h3>CREATE A WALL</h3>
			</div>
			<div class="add-wall-group-block">
				<form>
					<div class="add-wall-form-group add-wall-form-group-i">
						<div class="add-wall-form-icon"><span></span></div>
					</div>
					<div class="add-wall-form-group add-wall-form-group-n">
						<input type="text" placeholder="NAME" class="input add-input-wall" >

						<div class="add-wall-color-group">
                            <ul class="add-wall-color-ul">
                                        <li style="background-color:#fe6f6b" data-color="#fe6f6b" class="add-wall-color" ></li>
                                        <li style="background-color:#ffaa73" data-color="#ffaa73" class="add-wall-color" ></li>
                                        <li style="background-color:#f0d567" data-color="#f0d567" class="add-wall-color" ></li>
                                        <li style="background-color:#50cc6d" data-color="#50cc6d" class="add-wall-color" ></li>
                                        <li style="background-color:#60b0eb" data-color="#60b0eb" class="add-wall-color" ></li>
                                        <li style="background-color:#587ab0" data-color="#587ab0" class="add-wall-color" ></li>
                                        <li style="background-color:#d99bdd" data-color="#d99bdd" class="add-wall-color" ></li>
                                        <li style="background-color:#ff77b1" data-color="#ff77b1" class="add-wall-color" ></li>
                                        <li style="background-color:#848484" data-color="#848484" class="add-wall-color" ></li>
                            </ul>
                        </div>

					</div>
					<div class="add-wall-form-group add-wall-form-group-b">
						<button type="subdmit"  class="btn add-btn-column">CREATE</button>
					</div>
				</form>
			</div>
		</div>
	</header>
	<div class="add-wall-container">
		<div class="add-wall-content">
			<h3>MY WALLS</h3>
		</div>
		<div class="add-wall-content">
			<div class="add-wall-list block-menu-list-rec-walls">
				<div ng-repeat="wall in addwalls | orderBy: 'sort' " class="lrw-wall" data-id="{{wall.id}}" ng-class="{'lrw-wall-home' : wall.home}" style="background: {{wall.color}}">
                    <div class="lrw-wall-table">

                        <div class="lrw-wall-settings lrw-wall-st-home">
                            <i class="icon icon-home"></i>
                        </div>

                        <div class="lrw-wall-settings lrw-wall-st-color">
                            <img src="/images/icon-wall-color.png">
                        </div>

                        <div class="lrw-wall-table-row-columns">
                            <div class="lrw-wall-table-cell">
                                <div class="lrw-wall-columns">
                                    <div ng-repeat="clmn in wall.columns" class="lrw-wall-column">
                                        <img ng-if="clmn.types == 1" class="" src="{{clmn.icon}}">
                                        <div ng-if="clmn.types == 2" ng-style="{ 'background' : clmn.color }" class="pull-left ">
                                                <span ng-bind="clmn.name|firstletter"></span>
                                            </div>

                                        <img ng-if="clmn.types != 1 && clmn.types != 2"  class="ng-scope" src="http://a.espncdn.com/favicon.ico">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lrw-wall-table-row-header">
                            <div class="lrw-wall-table-cell">
                                <h2>
                                    <div class=" lrw-wall-st-name">
                                        <input class="lrw-wall-st-name-control" value="{{wall.name}}">
                                        <span class="lrw-wall-st-name-span" style="display:none">{{wall.name}}</span>
                                        <i class="lrw-wall-settings lrw-wall-st-name-toggle icon icon-pencil"></i>
                                    </div>
                                </h2> 
                            </div>
                        </div>
                        <div class="lrw-wall-table-row-footer">
                            <div class="lrw-wall-table-cell">
                               <h2></h2>
                            </div>
                        </div>

                        <div class="lrw-wall-settings lrw-wall-st-delete">
                            <div class="lrw-wall-st-delete-action">
                               <i class="icon icon-trash"></i>
                            </div>
                        </div>

                        <div class="lrw-wall-settings lrw-wall-st-sort">
                            <ul class="custom-sorter">
                                <li ng-click="addGroupSort($event)" class="custom-sorter-el left"></li>
                                <li ng-click="addGroupSort($event)" class="custom-sorter-el dot"></li>
                                <li ng-click="addGroupSort($event)" class="custom-sorter-el right"></li>
                            </ul>
                        </div>

                    </div>
                </div>
			</div>
		</div>
	</div>
	<div style="clear:both"></div>
</div>