
<div ng-if="reloaderwall" class="reloaderwall">
    <div class="loader  loader-ellipsis-tooltip"></div>
</div>

<div class="base-sections">

<!-- start profile column -->
<section  class="profile-column ">

    <div style="background-image: url(http://95.213.237.194/media/avatars/user_1_2108163.jpg)" class="user__card__block uc_color_{{ account.color }}">

        <div class="user__card__badge__block">

            <div class="profilename">
                <a href="">{{account.first_name }} {{account.last_name }}</a>
            </div>

            <div class="screenname">
                <a href="">@{{account.username}}</a>
            </div>

            <div class="description">
                <p>{{account.description}}</p>
            </div>

            <div class="user__card__lists">
                <div class="user__card__list social_user_recontents">
                    <div class="text">RECONTENT</div>
                    <div class="count">{{account.recontent_count}}</div>
                </div>
                <div class="user__card__list social_user_following">
                    <div class="text">FOLLOWING</div>
                    <div class="count">{{account.following_count}}</div>
                </div>
                <div class="user__card__list social_user_followers">
                    <div class="text">FOLLOWERS</div>
                    <div class="count">{{account.followers_count}}</div>
                </div>
            </div>

        </div>

        <div ng-if="userType == 'Current'" class="user__card__settings__block">
            <div ng-click="ShowUserSettings($event)" class="user__card__settings user__card__settings__set"></div>
            <div ng-click="ShowUserNotification($event)" class="user__card__settings user__card__settings__noti"></div>    
        </div>   
        
    <div>    
                               
</section>
<!-- end profile column -->

<!-- LEFT MENU START -->
<div class="block-left-menu">
                <!--<div class="block-logo">
                    <a href="/feed">
                        <img class="logo-img" src="http://contter.dev/images/logo-home.png">
                    </a>
                </div>-->
                <div class="block-menu">

                    <div ng-if="userType == 'Current'" class="add-wall-menu-block ">
                            <h2>Create a wall</h2>
                            <div class="form-group form-group-add-wall">
                                <input type="text" placeholder="NAME" class="input input-add-column" >
                                <div class="form-color-add-wall">
                                    <ul class="add-wall-color-ul">
                                        <li style="background-color:#fe6f6b" data-color="#fe6f6b" ng-click="colorAddWall($event)" class="add-wall-color active" ></li>
                                        <li style="background-color:#ffaa73" data-color="#ffaa73" ng-click="colorAddWall($event)" class="add-wall-color" ></li>
                                        <li style="background-color:#f0d567" data-color="#f0d567" ng-click="colorAddWall($event)" class="add-wall-color" ></li>
                                        <li style="background-color:#50cc6d" data-color="#50cc6d" ng-click="colorAddWall($event)" class="add-wall-color" ></li>
                                        <li style="background-color:#60b0eb" data-color="#60b0eb" ng-click="colorAddWall($event)" class="add-wall-color" ></li>
                                        <li style="background-color:#587ab0" data-color="#587ab0" ng-click="colorAddWall($event)" class="add-wall-color" ></li>
                                        <li style="background-color:#d99bdd" data-color="#d99bdd" ng-click="colorAddWall($event)" class="add-wall-color" ></li>
                                        <li style="background-color:#ff77b1" data-color="#ff77b1" ng-click="colorAddWall($event)" class="add-wall-color" ></li>
                                        <li style="background-color:#848484" data-color="#848484" ng-click="colorAddWall($event)" class="add-wall-color" ></li>
                                    </ul>
                                </div>
                                <button ng-click="sendAddWall($event)"  type="submit" class="btn btn-add-column">CREATE</button>
                            </div>
                            <!--<div class="add-form-group">
                                <input type="text" ng-model="MAddWall.name" class="input input-add-group" placeholder="Name">         

                            </div>-->

                    </div>


                    <menuwalls  add-column=addColumn() walls=walls switch-wall=switchWall(el) add-group=addGroup()  showleftmenu=showleftmenu></menuwalls>

                    <ul  class="block-menu-list-footer">
                        <li switch-footer-menu data-url="trends" class="menu-item-footer menu-trends" ></li>
                        <li switch-footer-menu data-url="top" class="menu-item-footer menu-top" ></li>
                        <li switch-footer-menu data-url="walls" class="menu-item-footer menu-collections" ></li>
                        <li ng-click="ShowProfile($event)" class="menu-item-footer  menu-profile" ></li>
                    </ul>

                    <!--<ul class="block-menu-list block-menu-list-extra">
                        <li ng-click="ShowProfile($event)" class="menu-item  menu-profile" >
                            <img height="12" width="12" src="/images/icon-profile.png?8">
                        </li>
                    </ul>-->
                    <!--<menucolumn columns=columns add-column=addColumn()></menucolumn>

                    

                    <ul class="block-menu-list block-menu-list-extra">
                        <li ng-click="ShowProfile($event)" class="menu-item  menu-profile" >
                            <img height="16" width="16" src="/images/icon-profile.png">
                        </li>
                        <li class="menu-item  menu-settings" >
                            <img height="16" width="16" src="/images/icon-settings.png">
                        </li>
                    </ul>

                    <ul class="block-menu-list block-menu-list-scroll">
                        <li style="width:20px; height:20px;" mouse-top="" class="menu-item mouse-top"></li>
                    </ul>-->
                </div>

</div>
<!-- END LEFT MENU -->




<!-- CONTENT START -->
<div class="block-content">
    <div class="block-container-columns l-scroll">
        <div class="block-horizontal-columns">
            <div class="add-column size300">
                <div class="add-column-block">
                    <h2>Add column</h2>

                    <div ng-class="typeCColumn" class="add-form-group">
                        <form name="mainForm" novalidate>
                            <div ng-click="changeTypeOfColumn()" ng-class="typeCClass" class="ct_toggle_block ">
                               <label class="checkbox hidden" ng-init="MAddColumn.types == 'city'">
                                   <input id="column_in_toggle" type="text" ng-model="MAddColumn.types" value="typeCValue " name="type" >
                                </label>
                                <div class="ct_toggle_button">
                                    <div class="ct_toggle_site_text">Site</div>
                                    <div class="ct_toggle_word_text">Collection</div>
                                    <span class="ct_toggle_handle"><span></span></span>
                                </div>
                                <div class="ct_toggle_label">
                                    <span class="ct_toggle_site_label">Read your favorite site</span>
                                    <span class="ct_toggle_word_label">Сreate your a collection</span>
                                </div>
                            </div>


                            <div  class="ac-form-block-site">
                                <input type="text" class="input input-add-column" ng-model="MAddColumn.link" placeholder="Введите URL">
                                <button class="btn btn-blue btn-add-column" type="submit"  ng-click="sendFormAddColumn(MAddColumn)"  value="on">Follow</button>

                                <div style="display:none" class="ac-form-settings-block">

                                    <div style="display:none" class="ac-form-acs-show-group">
                                        <p class="acs-show-group-p">Show in group </p>
                                        <div class="acs-show-group-div">
                                            <span class="acs-show-group-span acs-current">Sports <span>current</span></span>
                                            <span class="acs-show-group-span acs-new"><span>Blacks</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>News report</span> </span>
                                            <i class="acs-show-group-add icon-plus"></i>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                    <div class="ac-form-acs-filter-sort">
                                        <p class="acs-show-group-p">Filter sorting </p>
                                        <div class="acs-show-group-div">
                                            <span class="acs-show-group-span acs-new"><span>Tarasenko</span></span>
                                            <span class="acs-show-group-span acs-new"><span>Blackshawks</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>Artemiy Panarin</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>Bobrovsckiy</span> </span>
                                            <i class="acs-show-group-add icon-plus"></i>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>


                                    <div class="ac-form-acs-filter-exlude">
                                        <p class="acs-show-group-p">Filter exclude </p>
                                        <div class="acs-show-group-div">
                                            <span class="acs-show-group-span acs-new"><span>Patrick keine</span></span>
                                            <span class="acs-show-group-span acs-new"><span>Military</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>capitals</span> </span>
                                            <i class="acs-show-group-add icon-plus"></i>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                    <div class="ac-form-acs-size">
                                        <p class="acs-show-group-p">Size column </p>
                                        <div class="acs-show-group-div">
                                            <span class="acs-show-group-span acs-size"><span>200</span></span>
                                            <span class="acs-show-group-span acs-size acs-size-active"><span>300</span> </span>
                                            <span class="acs-show-group-span acs-size"><span>400</span> </span>
                                            <span class="acs-show-group-span acs-size"><span>500</span> </span>
                                            <span class="acs-show-group-span acs-size"><span>600</span> </span>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                    <div class="ac-form-acs-public">
                                        <div ng-click="changeTypeOfColumnForm()" ng-class="typeCClassForm" class="acs_toggle_block ">
                                           <label class="checkbox hidden">
                                                <input id="column_in_toggle" type="checkbox" name="public" value="public">
                                           </label>
                                        <div class="acs_toggle_button">
                                           <div class="acs_toggle_site_text">Public</div>
                                           <div class="acs_toggle_word_text">Private</div>
                                           <span class="acs_toggle_handle"><span></span></span>
                                        </div>
                                        <div class="acs_toggle_label">
                                           <span class="acs_toggle_site_label">Read all</span>
                                           <span class="acs_toggle_word_label">Only you</span>
                                        </div>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                </div>
                            </div>
                            <div class="ac-form-block-word">
                                <input type="text" class="input input-add-column" placeholder="Enter name here">
                                <div class="add-icon-column">icon</div>
                                <div  style="display:none" class="ac-form-settings-block">

                                    <div class="ac-form-acs-show-group">
                                        <p class="acs-show-group-p">Show in group </p>
                                        <div class="acs-show-group-div">
                                            <span class="acs-show-group-span acs-current">Sports <span>current</span></span>
                                            <span class="acs-show-group-span acs-new"><span>Blacks</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>News report</span> </span>
                                            <i class="acs-show-group-add icon-plus"></i>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                    <div class="ac-form-acs-filter-sort">
                                        <p class="acs-show-group-p">Filter sorting </p>
                                        <div class="acs-show-group-div">
                                            <span class="acs-show-group-span acs-new"><span>Tarasenko</span></span>
                                            <span class="acs-show-group-span acs-new"><span>Blackshawks</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>Artemiy Panarin</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>Bobrovsckiy</span> </span>
                                            <i class="acs-show-group-add icon-plus"></i>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>


                                    <div class="ac-form-acs-filter-exlude">
                                        <p class="acs-show-group-p">Filter exclude </p>
                                        <div class="acs-show-group-div">
                                            <span class="acs-show-group-span acs-new"><span>Patrick keine</span></span>
                                            <span class="acs-show-group-span acs-new"><span>Military</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>capitals</span> </span>
                                            <i class="acs-show-group-add icon-plus"></i>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                    <div class="ac-form-acs-size">
                                        <p class="acs-show-group-p">Size column </p>
                                        <div class="acs-show-group-div">
                                            <span class="acs-show-group-span acs-size"><span>200</span></span>
                                            <span class="acs-show-group-span acs-size acs-size-active"><span>300</span> </span>
                                            <span class="acs-show-group-span acs-size"><span>400</span> </span>
                                            <span class="acs-show-group-span acs-size"><span>500</span> </span>
                                            <span class="acs-show-group-span acs-size"><span>600</span> </span>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                    <div class="ac-form-acs-public">
                                        <div ng-click="changeTypeOfColumnForm()" ng-class="typeCClassForm" class="acs_toggle_block ">
                                           <label class="checkbox hidden">
                                                <input id="column_in_toggle" type="checkbox" name="public" value="public">
                                           </label>
                                        <div class="acs_toggle_button">
                                           <div class="acs_toggle_site_text">Public</div>
                                           <div class="acs_toggle_word_text">Private</div>
                                           <span class="acs_toggle_handle"><span></span></span>
                                        </div>
                                        <div class="acs_toggle_label">
                                           <span class="acs_toggle_site_label">Read all</span>
                                           <span class="acs_toggle_word_label">Only you</span>
                                        </div>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                </div>
                            </div>

                        </form>
                    </div>

                    <p ng-click="addColumn()">Close</p>

                </div>
            </div>
            


<div class="preloader_center"  ng-hide="columns.$resolved">
    <div class="preloader">
            <div class="item item_1"></div>
            <div class="item item_2"></div>
            <div class="item item_3"></div>
</div></div>

<!-- start add column -->
<section  class="column column-add-column size400">
                            <div  class="column-panel">

                                <div class="column-panel-list word active">
                                    <header  class="column-header-list">
                                        <div  class="column-header-img-list">
                                            <img height="18" src="">
                                        </div>
                                        <h2 class="column-header-title-list"></h2>
                                    </header>
                                    <div class="column-content-list-sub-menu">
                                        <ul class="column-content-ul-list-sub-menu">
                                            <li class="list-group-item">
                                               
                                            </li>
                                        </ul>
                                    </div>
                               </div>

                                <header class="column-header">
                                    <div class="column-headers">

                                        <div class="column-header-block">

                                            <div class="ac-form-acs-public">
                                                <div ng-click="changeTypeOfColumnForm($event)" ng-class="typeCClassForm" class="acs_toggle_block a__create__cl ">
                                                    <label class="checkbox hidden">
                                                        <input id="column_in_toggle" type="checkbox" name="public" value="public">
                                                    </label>
                                                    <div class="acs_toggle_button">
                                                        <div class="acs_toggle_site_text">ADD COLUMN</div>
                                                        <div class="acs_toggle_word_text">CREATE COLUMN</div>
                                                        <span class="acs_toggle_handle"><span></span></span>
                                                    </div>
                                                    <!--
                                                    <div class="acs_toggle_label">
                                                        <span class="acs_toggle_site_label">Read all</span>
                                                        <span class="acs_toggle_word_label">Only you</span>
                                                    </div>
                                                    -->
                                                </div>
                                            </div>
                                           <!-- <h2 class="column-header-title">
                                                <a ng-click="ShowAddColumn($event)" class="a__add__cl active">Add column</a> <a ng-click="ShowAddColumn($event)"  class="a__create__cl">Create column</a>
                                            </h2>-->
                                        </div>

                                        </div>
                                </header>
                                <div class="column-content">
                                    <div class="column-container-scroller">
                                        <div class="column-container">

                                          <div  class="cc-add-column standart active">
                                              <form class="form-inline">
                                                <div class="form-group form-group-add-column">
                                                  <input type="text" placeholder="enter name or URL site" class="input input-add-column" >
                                                </div>
                                                <div class="form-group form-group-btn-add-column">
                                                  <button ng-click="sendFormAddColumn($event, 1)"  type="submit" class="btn btn-add-column">
                                                    SEARCH
                                                  </button>
                                                </div>
                                              </form>
                                          </div>

                                          <div  class="cc-add-column collection">
                                              <div class="form-inline">

                                                <div class="form-row">

                                                <div class="form-group" >
                                                    <div data-color="{{nameWordColumn|randomcolorcolumnw}}" style="background:{{nameWordColumn|randomcolorcolumnw}};" class="menu-item-img-word-btn">
                                                        <span ng-bind="nameWordColumn|firstletterword" class="ng-binding">N</span>
                                                    </div>
                                                </div>
                                                <!--<div class="form-group">
                                                  <button  type="submit" class="btn btn-set-column">
                                                    <img height="16"  src="/images/icon-st.png">
                                                  </button>
                                                </div>-->
                                                <div style="width: 65%;" class="form-group">
                                                  <input type="text" placeholder="NAME" maxlength="20" ng-model="nameWordColumn" class="input input-add-column">
                                                </div>
                                                <div class="form-group">
                                                  <button  type="submit" ng-click="sendFormAddColumn($event, 2)" class="btn btn-add-column">
                                                    CREATE
                                                  </button>
                                                </div>
                                                </div>


                                                <!--<div class="add-icon-group-block">
                                                    <div ng-repeat="ig in iconsGroups" class="add-icon-group-block-icon" ng-click="showOnIcon($event)"  data-src="{{ ig }}">
                                                        <a><img src="/images/icons/{{ ig }}"></a>
                                                    </div>
                                                    <div class="both"></div>
                                                </div>-->

                                                <div class="form-row-step-two">
                                                    <div class="table-settings">

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Sources</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">
                                                                <div class="add-source-group-block">
                                                                    <div class="add-source-group-block-div source">
                                                                    <i ng-click="showOnSource($event)"class="icon-plus"></i>
                                                                    </div>
                                                                    <div class="both"></div>
                                                                    <div class="add-source-group-block-div-extra">
                                                        
                                                                    </div>
                                                                </div>    
                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Matching</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block matching">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO MATCH" maxlength="45" key-enter="" class="input input-word" >
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon green"><i class="icon-plus"></i></div>
                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Excluding</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block excluding">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO EXCLUDE" maxlength="45" key-enter="" class="input input-word"  >
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon"><i class="icon-plus"></i></div>

                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        <div class="add-source-group-block-word ">
                                                                            <span>Capital</span> <i ng-click="settingsEditWordsWColumn($event, 'delete')" class="icon-cancel"></i>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Show on wall</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block">
                                                                    <div class="add-source-group-block-divs-wall">

                                                                        <div  ng-repeat="wall in walls" data-id="{{wall.id}}"class="add-source-group-block-wall current active" style="background: {{wall.color}};" ng-if="wall.current">
                                                                            {{wall.name}}
                                                                        </div>
                                                        
                                                                        <i ng-click="showOnWall($event)" class="icon-plus"></i>
                                                                    </div>
                                                                    <div class="add-source-group-block-div-extra">
                                                        
                                                                </div>


                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Size column</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="ac-form-acs-size">
                                                                    <div class="acs-show-group-div">
                                                                        <span data-size="300" ng-click="settingsEditSizeColumn($event, 0, 300)" class="acs-show-group-span acs-size acs-size-active"><span>SMALL</span> </span>
                                                                        <span data-size="400" ng-click="settingsEditSizeColumn($event, 0, 400)" class="acs-show-group-span acs-size"><span>MEDIUM</span> </span>
                                                                        <span data-size="500" ng-click="settingsEditSizeColumn($event, 0, 500)" class="acs-show-group-span acs-size"><span>LARGE</span> </span>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>

                                                    </div>

                                               <!-- <div class="add-source-group-block">
                                                    <div class="add-source-group-block-p">Sources</div>
                                                    <div class="add-source-group-block-div source">
                                                        <i ng-click="showOnSource($event)"class="icon-plus"></i>
                                                    </div>
                                                    <div class="add-source-group-block-div-extra">
                                                        
                                                    </div>

                                                </div>
                                                <div class="clear:both"></div>

                                                

                                                <div class="add-source-group-block matching">
                                                    <div class="add-source-group-block-p">Matching</div>
                                                    <div class="add-source-group-block-word ">
                                                        <span>WordFoot</span> <i class="icon-cancel"></i>
                                                    </div>
                                                    <div class="add-source-group-block-word">
                                                        <span>Word</span> <i class="icon-cancel"></i>
                                                    </div>
                                                    <input type="text" maxlength="45" key-enter="" class="input input-word" style="width: 20px;" >
                                                    <div class="input-buffer-word" style="display:none"></div>
                                                </div>

                                                <div class="add-source-group-block excluding">
                                                    <div class="add-source-group-block-p">Excluding</div>
                                                    <div class="add-source-group-block-word ">
                                                        <span>FootsHut</span> <i class="icon-cancel"></i>
                                                    </div>
                                                    <input type="text" maxlength="45" key-enter="" class="input input-word" style="width: 20px;" >
                                                    <div class="input-buffer-word" style="display:none"></div>
                                                </div>

                                                <div class="add-source-group-block">
                                                    <div class="add-source-group-block-p">Show on wall</div>
                                                    <div class="add-source-group-block-div s-wall">
                                                        <div style="border-color: rgba(0, 0, 0, 0.39); background: #FF0000;" ng-repeat="wall in walls" data-id="{{wall.id}}"class="add-source-group-block-img current active" ng-if="wall.current">
                                                            <img height="16" width="16" src="/images/icons/{{ wall.icon }}">
                                                        </div>
                                                        <i ng-click="showOnWall($event)" class="icon-plus"></i>
                                                    </div>
                                                    <div class="add-source-group-block-div-extra">
                                                        
                                                    </div>

                                                </div>
                                                <div class="clear:both"></div>

                                                <div class="add-source-group-block">
                                                    <div class="add-source-group-block-p">Size column</div>
                                                    <div ng-click="settingsEditSizeColumn($event, 0, 300)" class="add-source-group-block-size active">
                                                        300
                                                    </div>
                                                    <div ng-click="settingsEditSizeColumn($event, 0, 400)" class="add-source-group-block-size">
                                                        400
                                                    </div>
                                                    <div ng-click="settingsEditSizeColumn($event, 0, 500)" class="add-source-group-block-size">
                                                        500
                                                    </div>
                                                </div>
                                                -->

                                                </div>


                                              </div>
                                          </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
</section>
<!-- end add column -->



        
<ng-include src="'/views/feed/column.html?4trfffgfffvggfhdsdfddаkrrfdsdffbdb'" ></ng-include>
        

<!-- END CONTENT -->

</div>

