
<div ng-if="reloaderwall && !showfirstvisit" class="reloaderwall">
    <div class="loader  loader-ellipsis-tooltip"></div>
</div>


<!-- start first user -->
<div ng-if="showfirstvisit" class="start-welcome">
    <div class="start-welcome-block">
        <div class="sw-block">

            <div class="sw-block-header">
                <div class="sw-block-title-head">
                    <h2 class="sw-block-title">what are you interested in? <span>выберите свою стену</span></h2>
                </div>
                <div class="sw-block-select" ng-click="createWallWelcome($event)" ng-class="{'active' : 0 == (3-selectwall.length) }">
                    <span ng-if="0 != (3-selectwall.length)">SELECT {{3-selectwall.length}}</span>
                    <span ng-if="0 == (3-selectwall.length)">continue</span>

<div class="co-loader co-loader-welcome mini20" style="background: #05C59A;">
   <div  class="c-loader-border"></div>
    <div class="c-loader">
      <span style="background: #05C59A;" class="c-loader-span"></span>
    </div>
  </div>

                </div>
            </div>

            <div class="sw-block-header-menu">
                <ul class="sw-nav-menu-list">
                    <li ng-repeat="col in collect" ng-class="{'active' : col.active }" data-id="{{col.id}}" ng-click="switchCatWelcome($event)" class="sw-nav-menu-item">{{col.name}}</li>
                </ul>
            </div>

            <div class="sw-block-content">
                <div ng-repeat="col in collect" class="sw-list" data-id="{{col.id}}" ng-class="{'active' : col.active }">
                    <div class="sw-list-row">
                        <div ng-repeat="wall in col.walls" data-id="{{wall.id}}" class="sw-wall" style="background-image: url(/media/welcome/{{wall.image}})">
                            <div class="sw-wall-table">
                                <div class="sw-wall-table-row-columns">
                                    <div class="sw-wall-table-cell">
                                        <div class="sw-wall-columns">
                                            <div ng-repeat="column in wall.columns" class="sw-wall-column">
                                                <a title="{{column.name}}"><img alt="{{column.name}}" class="" src="{{column.favicon}}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sw-wall-table-row-header">
                                    <div class="sw-wall-table-cell">
                                        <h2>{{wall.name}}</h2>
                                    </div>
                                </div>
                                <div class="sw-wall-table-row-footer">
                                    <div class="sw-wall-table-cell">
                                       <h2>{{wall.description}}</h2>
                                    </div>
                                </div>
                            </div>

                            <div ng-click="selectWallWelcome($event)" class="sw-add">
                                <i class="icon icon-plus"></i>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- end first user -->

<div ng-if="!reloaderwall" class="base-sections">
        
<ng-include src="'/views/section-profile.html'" ></ng-include>

<ng-include src="'/views/section-recontent.html'" ></ng-include>

<ng-include src="'/views/section-left-menu.html'" ></ng-include>


<!-- CONTENT START -->
<div class="block-content">
    <div class="block-container-columns l-scroll">
        <div class="block-horizontal-columns">
            
            


<div class="preloader_center"  ng-hide="columns.$resolved">
    <div class="preloader">
            <div class="item item_1"></div>
            <div class="item item_2"></div>
            <div class="item item_3"></div>
</div></div>

<!-- start add column <section class="column column-add-column size400"> -->
<section class="column column-add-column size400 " >
    <div class="column-panel">
        <div style="overflow-y: hidden!important;" class="column-content">
            <div class="column-container-scroller">
                <div class="column-container">
                    <div class="addcolumn-container">
                        <div class="addcolumn-header">
                            <div data-type="addstandart" class="addcolumn-header-standart">
                                <div class="cc-add-column standart active">
                                    <div class="form-group form-group-add-column">
                                      <input key-enter-add-column type="text" placeholder="enter name or URL site" class="input input-add-column">
                                    </div>
                                    <div ng-click="ChangeTypeAddColumn($event)" class="form-group form-group-btn-add-column">
                                      <span class="addcolumn-switch">CREATE A COLUMN</span>
                                    </div>
                                    <div class="form-group form-group-btn-add-column">
                                      <button ng-click="AddInColumnSearchWords($event)" type="submit" class="btn btn-add-column">
                                        SEARCH
                                      </button>
                                    </div>
                                    
                                </div>
                            </div>

                            <div data-type="addcustom" class="addcolumn-header-custom">
                                <div class="cc-add-column collection active">
                                              <div class="form-inline">

                                                <div class="form-row">

                                                <div class="form-group">
                                                    <div data-color="{{nameWordColumn|randomcolorcolumnw}}" style="background:{{nameWordColumn|randomcolorcolumnw}}" class="menu-item-img-word-btn">
                                                        <span ng-bind="nameWordColumn|firstletterword" ></span>
                                                    </div>
                                                </div>
                                                <div style="width: 58%;" class="form-group">
                                                  <input type="text" placeholder="NAME" maxlength="20" ng-model="nameWordColumn" class="input input-add-column input-add-column-custom">
                                                </div>

                                                <div ng-click="AddColumnCustomClose($event)" class="addcolumn-header-custom-close">
                                                        <i class="icon icon-cancel"></i>
                                                    </div>

                                                </div>



                                                <div class="form-row-step-two">
                                                    <div class="table-settings">

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>STREAM FROM SOURCES</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">
                                                                <div class="add-source-group-block">
                                                                    <div class="add-source-group-block-div source">
                                                                    <i ng-click="showOnSource($event)" class="icon-plus"></i>
                                                                    </div>
                                                                    <div class="both"></div>
                                                                    <div class="add-source-group-block-div-extra">
                                                        
                                                                    </div>
                                                                </div>    
                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Matching</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block matching">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO MATCH" maxlength="45" key-enter="" class="input input-word">
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon green"><i class="icon-plus"></i></div>
                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Excluding</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block excluding">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO EXCLUDE" maxlength="45" key-enter="" class="input input-word">
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon"><i class="icon-plus"></i></div>

                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>



                                                    </div>

                                                </div>


                                                <div class="form-row-bottom">

                                                    <button type="submit" ng-click="sendFormAddColumn($event, 2)" class="btn btn-add-column">
                                                    CREATE A COLUMN
                                                  </button>

                                                    
                                                </div>


                                              </div>
                                          </div>
                            </div>

                        </div>
                        <div class="addcolumn-block">
                            <div data-type="addstandart" class="addcolumn-block-standart">
                                <div  class="addcolumn-block-words">
                                    <h3>CATALOG SITES</h3>
                                    <div class="addcolumn-list-words">
                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="A" class="addcolumn-item-word">
                                                <span>A</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="B" class="addcolumn-item-word">
                                                <span>B</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="C" class="addcolumn-item-word">
                                                <span>C</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="D" class="addcolumn-item-word">
                                                <span>D</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="E" class="addcolumn-item-word">
                                                <span>E</span>
                                            </div>
                                        </div>
                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="F" class="addcolumn-item-word">
                                                <span>F</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="G" class="addcolumn-item-word">
                                                <span>G</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="H" class="addcolumn-item-word">
                                                <span>H</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="I" class="addcolumn-item-word">
                                                <span>I</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="J" class="addcolumn-item-word">
                                                <span>J</span>
                                            </div>
                                        </div>

                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="K" class="addcolumn-item-word">
                                                <span>K</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="L" class="addcolumn-item-word">
                                                <span>L</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="M" class="addcolumn-item-word">
                                                <span>M</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="N" class="addcolumn-item-word">
                                                <span>N</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="O" class="addcolumn-item-word">
                                                <span>O</span>
                                            </div>
                                        </div>

                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="P" class="addcolumn-item-word">
                                                <span>P</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="Q" class="addcolumn-item-word">
                                                <span>Q</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="R" class="addcolumn-item-word">
                                                <span>R</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="S" class="addcolumn-item-word">
                                                <span>S</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="T" class="addcolumn-item-word">
                                                <span>T</span>
                                            </div>
                                        </div>

                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="U" class="addcolumn-item-word">
                                                <span>U</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="V" class="addcolumn-item-word">
                                                <span>V</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="W" class="addcolumn-item-word">
                                                <span>W</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="X" class="addcolumn-item-word">
                                                <span>X</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="Y" class="addcolumn-item-word">
                                                <span>Y</span>
                                            </div>
                                        </div>

                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="Z" class="addcolumn-item-word">
                                                <span>Z</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="NUMBERS" class="addcolumn-item-number addcolumn-item-word">
                                                <span>0-9</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="ETC" class="addcolumn-item-etc addcolumn-item-word">
                                                <span>ETC</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="LUCKY" class="addcolumn-item-lucky addcolumn-item-word">
                                                <span>
                                                    <p class="addcolumn-item-word-feel">I'M FEELING</p>
                                                    <p class="addcolumn-item-word-lucky">LUCKY</p>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="addcolumn-block-feeds">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end add column -->



        
<ng-include class="ng-include-column" src="'/views/feed/column.html?bddsffs'" ></ng-include>
        

<!-- END CONTENT -->

</div>

