
<!-- LEFT MENU START -->
<div  class="block-left-menu">
    <div class="block-menu-hashtag">
    	<h2 class="block-title-hashtag">HASHTAGS</h2>
    	<a href="/hashtag/" class="block-title-link-hashtag">#{{hashtag}}</a>


    </div>
</div>
<!-- END LEFT MENU -->

<!-- CONTENT START -->
<div class="block-content">
    <div class="block-container-columns l-scroll">
        <div class="block-horizontal-columns">
        	<ng-include src="'/views/feed/column-hashtag.html?4trfffgfffvggfhdsdfdgdfdаkrrfdsdffbdb'" ></ng-include>
        </div>	
    </div>   	
</div>
<!-- END CONTENT -->
