<div class="full-menu-block">
    <div class="full-menu-content">
        <div ng-click="showFullMenu($event)" class="nav-menu-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="full-menu-header">
            <div class="full-menu-header-walls">
                <div data-id="{{wall_current.id}}" class="full-menu-header-item">/{{wall_current.name}}</div>

                <div class="full-menu-add-post">
                    <a title="Add a post">
                        <i class="icon icon-plus-1"></i>
                    </a>
                </div>

            </div>
        </div> 

        <div class="full-menu-list">
            <div class="full-menu-row">
                <div class="full-menu-row-title">
                    HOME
                </div>

                <div class="full-menu-row-list">
                    News Feed
                </div>
            </div>

            <div class="full-menu-row">
                <div class="full-menu-row-title">
                    MY WALLS
                </div>

                <div class="full-menu-row-list full-menu-row-list-w" ng-repeat="wall in walls  | orderBy: 'sort'  ">
                    /{{wall.name}}
                </div>
                <div class="full-menu-row-list full-menu-row-list-create" >
                    /create a wall
                </div>

            </div>

            <div class="full-menu-row">
                <div class="full-menu-row-title">
                    MY PROFILE
                </div>

                <div class="full-menu-row-list">
                    <a href="/@{{user.username}}">{{user.first_name}}</a>
                </div>
            </div>

            <div class="full-menu-row">
                <div class="full-menu-row-title">
                    IT IS INTERESTING
                </div>

                <div class="full-menu-row-list full-menu-row-list-w">
                    <a href="/hashtags">/hashtags</a>
                </div>
                <div class="full-menu-row-list full-menu-row-list-w">
                    <a href="/trends">/trends</a>
                </div>
                <div class="full-menu-row-list full-menu-row-list-w">
                    <a href="/top">/top</a>
                </div>
            </div>

        </div>   

    </div>
</div> 

<div  class="block-left-menu">
                                <div class="block-menu">
                                    <div ng-click="showFullMenu($event)" class="nav-menu-hamburger">
                                          <span></span>
                                          <span></span>
                                          <span></span>
                                    </div>



    <div style="background-color:{{wall_current.color}}" data-color="{{wall_current.color}}" class="block-list-menu">
        <div data-id="{{wall_current.id}}" class="menu-current-wall-item menu-wall-item menu-item-wall active-menu-wl">/{{wall_current.name}}</div>
        
        <div class="block-list-wall-menu">
            <div ng-repeat="wall in walls  | orderBy: 'sort'  " ng-if="!wall.current" data-color="{{wall.color}}" data-slug="{{ wall.slug }}" data-wall="{{ wall.id }}"  ng-click="switchWall($event)" class="menu-wall-item menu-just-wall-item"><span class="menu-item-wall-title">/{{wall.name}}</span></li>
        </div>

        <div class="block-list-column">
            <div ng-click="columnMenuTopWall($event)" class="menu-item-column-top">
                <i class="icon icon-wall-top icon-fire-2"></i>
            </div>

            <div class="menu-item-column-block" ng-if="columns.length > 0">
                <div class="menu-item-column" ng-repeat="col in columns" data-id="{{col.id}}">
                    <a ng-if="col.types == 1" title="{{col.name}}"><img class="menu-item-fav" src="{{col.icon}}"></a>
                    <a ng-if="col.types == 2" title="{{col.name}}"><div ng-style="{ 'background' : col.color }" class="menu-item-custom">
                        <span ng-bind="col.name|firstletter"></span>
                    </div>
                    </a>

                </div> 
            </div>

            <div ng-click="addColumn($event)" class="menu-item-column-add">
                <i class="icon icon-plus-1"></i>
            </div>

            <div ng-click="minimizeColumnMenu($event)" class="menu-item-close">
                <a title="minimize"> <span></span></a>
            </div>
        </div>
    
    </div>
                                    <!--
<menuwalls user-type=userType  add-column=addColumn() walls=walls switch-wall=switchWall(el) add-group=addGroup()  showleftmenu=showleftmenu></menuwalls>

<ul style="display:none;" class="block-menu-list block-menu-list-scroll">
                        <li style="width:30px; height:30px;" mouse-top class="menu-item mouse-top"></li>
                        <li style="width:30px; height:30px;" mouse-left class="menu-item mouse-left"></li>
                    </ul>

<ul class="block-menu-list-footer mini">
                        <div class="block-menu-list-footer-sub">
                            <li class="menu-item-footer  menu-notif" ></li>
                            <li ng-click="ShowProfile($event)" class="menu-item-footer  menu-profile" ></li>
    
                            <li switch-footer-menu data-url="trends" class="menu-item-footer menu-trends" ></li>
                            <li switch-footer-menu data-url="top" class="menu-item-footer menu-top" ></li>
                            <li switch-footer-menu data-url="walls" class="menu-item-footer menu-collections" ></li>
                        </div>

                        <li switch-footer-menu data-url="mini" class="menu-item-footer menu-hamburger" ></li>

                        <li ng-click="ShowUserFeedRecontent($event)" ng-class="{'active' : recontents.active }" class="menu-item-footer menu-newsfeed" ></li>
                        
                    </ul>
-->
</div>
</div>
