<div class="main-content main">
  <div class="main-content-container container">

    <header class="header">
        <div class="logo">
            <img src="/images/logo.jpg"><a href="/w/test">test</a>
       	</div>
        <div class="auth">
            <div ng-if="!isAuthenticated()" class="naver nav-login">
                <a ng-click="authenticate('twitter')" >Login with Twitter</a>
            </div>
            <div ng-if="isAuthenticated()" class="naver nav-profile">
                <a href="/feed">Feed</a>
            </div>
        </div>
    </header>

    <div class="browser-block">
        <div class="screen-header">
        	<div class="sh-icons float-left">
                <div class="cube cube-red"></div>
                <div class="cube cube-orange"></div>
                <div class="cube cube-green"></div>
        	</div>
        	<div class="sh-tabs float-left">
                <div class="sh-tab close float-left hide"></div>
                <div class="sh-tab open active float-left">
                    <span><img width="20" src="/images/logo.jpg"> <p>What is Contter.com?</p></span>
                </div>
                <div class="sh-tab new float-left"></div>
        	</div>
        </div>
        <div class="screen-line">
            <div class="sl-circle float-left">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
        	</div>
        	<div class="sl-search float-left">
                <div class="sl-input"><span>contter.com</span><i style="color:yellow;float: right;" class="icon-star-filled"></i></div>
        	</div>
        	<div class="sl-hamb float-left">
                <div><i class="icon-menu"></i></div>
        	</div>
        </div>
        <div class="screen-block">
          <div class="panel">
    <h1 class="name">PLATFORM</h1>
    <h2 class="type">A powerful platform for organizing and viewing your favorite sites in one place</span>
  </div>
  <div class="panel">
    <h1 class="name">RECONTENT</h1>
    <h2 class="type">Ale</h2>
  </div>
  <div class="panel">
    <h1 class="name">WALLS</h1>
    <h2 class="type">Lager</h2>
  </div>
  <div class="panel">
    <h1 class="name">TIME</h1>
    <h2 class="type">Stout</h2>
  </div>
  <div style="margin-right: 0px;" class="panel">
    <h1 class="name">MORE</h1>
    <h2 class="type">Stout</h2>
  </div>

        </div>
        <!--<div class="screen-block">
            <div class="sb-tiles">
            	<div class="sb-tile half">
            		<div class="sb-tile-block first">
            			<p class="font18">
                           <b>Мощный инструмент для организации и просмотра ваших любимых сайтов в одном месте.</b>
            			<p>
            		</div>
            	</div>
            	<div class="sb-tile third">
            		<div class="sb-tile-block second">
                        <p class="font14">
                        	<img src="/images/main-time.png"><br><br>
                           <b>Экономит ваше время</b><br><br>Не надо тратить свое время на сотни сайтов, когда вы можете просматривать их в одной вкладке.
            			<p>
            		</div>
            	</div>
            	<div class="sb-tile third">
            		<div class="sb-tile-block third">
                        <p class="font14">
                        	<img src="/images/main-wall.png"><br><br>
                           <b>Тематические стены</b><br><br>Объединяйте сайты на одной странице.
            			<p>
            		</div>
            	</div>
            	<div class="sb-tile half">
            		<div class="sb-tile-block fourth">
                        <p class="font14">
                        	<img src="/images/main-recontent.png"><br><br>
                           <b>Recontent</b><br><br>Делитесь и объединяйтесь по интересам. Работает по принципу «Вы рекомендуете - Вам рекомендуют».
            			<p>
            		</div>
            	</div>
            	<div class="sb-tile third">
            		<div class="sb-tile-block fifth">
                        <p class="font14">
                        	<img src="/images/main-world.png"><br><br>
                           <b>В реальном времени</b><br><br>Хотите следит за несколькими сайтами в реальном времени? Наш сервис поможет вам в этом.
            			<p>
            		</div>
            	</div>
            	<div class="sb-tile third">
            		<div class="sb-tile-block sixth">
                        <p class="font14">
                        	<img src="/images/main-ple.png"><br><br>
                           <b>Удовольствие от чтение</b><br><br>Просматривать сайты в два раза удобнее, за счет красивого интерфейса.
            			<p>
            		</div>
            	</div>
            </div>
        </div>-->
    </div>
  </div>
</div>
