<!-- START CONTENT START -->
<section class="column  size400 section-recontent ">

    <header class="recontent-pallet-header">
        <div class="recontent-pallet">
            <ul class="recontent-pallet-menu-ul">
                <li class="recontent-pallet-menu-item active">
                    <div class="recontent-pallet-menu-item-content">NEWS FEED</div>
                </li>
                <li class="recontent-pallet-menu-item">
                    <div class="recontent-pallet-menu-item-content">MY POSTS</div>
                </li>
                <li class="recontent-pallet-menu-item">
                    <div class="recontent-pallet-menu-item-content">SAVED</div>
                </li>
            </ul>

            <div class="recontent-toggle">
                <i class="icon icon-left-dir"></i>
            </div>

        </div>
    </header>

    <div class="column-panel ">
    	<div class="column-content">
            <div class="column-container-scroller">
                <div class="column-container">

                	<div ng-repeat="item in recontents.items" ng-include src="'/views/feed/link-recontent.html?4dtrsreddffdgdffbdb'"></div>

                	<div class="loader-rere-content " ng-class="{'active' : (recontents.my && recontents.items.length <= 0 && !recontents.if_check_my) || (!recontents.my && recontents.items.length <= 0 && !recontents.if_check)}">
                        <div class="loader loader-ellipsis-rere" data-type="default"></div>
                    </div>


                </div>
            </div>
        </div>        
    </div>    
                               
</section>	        	
<!-- END CONTENT START -->