<!-- LEFT MENU START --><!--
<div  class="block-left-menu">
                                <div class="block-menu">

                    

                    <menuwalls user-type=userType  add-column=addColumn() walls=walls switch-wall=switchWall(el) add-group=addGroup()  showleftmenu=showleftmenu></menuwalls>

                    <ul class="block-menu-list-footer mini">
                        <div class="block-menu-list-footer-sub">
                            <li class="menu-item-footer  menu-notif" ></li>
                            <li ng-click="ShowProfile($event)" class="menu-item-footer  menu-profile" ></li>
    
                            <li switch-footer-menu data-url="trends" class="menu-item-footer menu-trends" ></li>
                            <li switch-footer-menu data-url="top" class="menu-item-footer menu-top" ></li>
                            <li switch-footer-menu data-url="walls" class="menu-item-footer menu-collections" ></li>
                        </div>

                        <li switch-footer-menu data-url="mini" class="menu-item-footer menu-hamburger" ></li>

                        <li ng-click="ShowUserFeedRecontent($event)" ng-class="{'active' : recontents.active }" class="menu-item-footer menu-newsfeed" ></li>
                        
                    </ul>
                </div>

</div>-->
<!-- END LEFT MENU -->