<!-- start profile column -->

<section  class="profile-column ">

    <div style="background: #{{ user.color }}" class="user__card__block">

        <div class="user__card__badge__block">
             
            <div class="profileavatar">
                <span style="background: #{{ user.color }}"></span>
                <img class="profileavatarimg" avatar-img src="{{account.twitter_img }}">
            </div> 
            
            <div class="profilename">
                <a href="">{{account.first_name }} {{account.last_name }}</a>
            </div>

            <div class="screenname">
                <a href="">@{{account.username}}</a>
            </div>

            <div class="description">
                <p>{{account.description}}</p>
            </div>

        </div>

        <div class="uc__recommend">
            <div class="uc__recommend__content">
                <div ng-click="ShowUserCardInfo($event)" class="uc__recommend__menu"><div></div><div></div><div></div></div>
                <div ng-click="ShowUserMyRecontent($event)" class="uc__recommend__block" ng-class="{'active' : recontents.active_my }">
                    <p class="uc__recommend__text">my recommendations</p>
                    <p class="uc__recommend__count" ng-if="account.recontent_count > 0">+ {{account.recontent_count}}</p>
                </div>
            </div>   
        </div>

         <div ng-if="userType == 'Current'" class="user__card__settings__block foot">
            <div ng-click="ShowUserSettings($event)" class="user__card__settings user__card__settings__set"></div>
        </div>  
        
    <div>    
                               
</section>
<!-- end profile column -->
