<!-- start add column <section class="column column-add-column size400"> -->
<section class="column column-add-column size400 " >
    <div class="column-panel">
        <div style="overflow-y: hidden!important;" class="column-content">
            <div class="column-container-scroller">
                <div class="column-container">
                    <div class="addcolumn-container">
                        <div class="addcolumn-header">
                            <div data-type="addstandart" class="addcolumn-header-standart">
                                <div class="cc-add-column standart active">
                                    <div class="form-group form-group-add-column">
                                      <input key-enter-add-column type="text" placeholder="enter name or URL site" class="input input-add-column">
                                    </div>
                                    <div ng-click="ChangeTypeAddColumn($event)" class="form-group form-group-btn-add-column">
                                      <span class="addcolumn-switch">CREATE A COLUMN</span>
                                    </div>
                                    <div class="form-group form-group-btn-add-column">
                                      <button ng-click="AddInColumnSearchWords($event)" type="submit" class="btn btn-add-column">
                                        SEARCH
                                      </button>
                                    </div>
                                    
                                </div>
                            </div>

                            <div data-type="addcustom" class="addcolumn-header-custom">
                                <div class="cc-add-column collection active">
                                              <div class="form-inline">

                                                <div class="form-row">

                                                <div class="form-group">
                                                    <div data-color="{{nameWordColumn|randomcolorcolumnw}}" style="background:{{nameWordColumn|randomcolorcolumnw}}" class="menu-item-img-word-btn">
                                                        <span ng-bind="nameWordColumn|firstletterword" ></span>
                                                    </div>
                                                </div>
                                                <div style="width: 58%;" class="form-group">
                                                  <input type="text" placeholder="NAME" maxlength="20" ng-model="nameWordColumn" class="input input-add-column input-add-column-custom">
                                                </div>
                                                <div class="form-group">
                                                  <button type="submit" ng-click="sendFormAddColumn($event, 2)" class="btn btn-add-column">
                                                    CREATE A COLUMN
                                                  </button>
                                                </div>
                                                </div>



                                                <div class="form-row-step-two">
                                                    <div class="table-settings">

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>STREAM FROM SOURCES</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">
                                                                <div class="add-source-group-block">
                                                                    <div class="add-source-group-block-div source">
                                                                    <i ng-click="showOnSource($event)" class="icon-plus"></i>
                                                                    </div>
                                                                    <div class="both"></div>
                                                                    <div class="add-source-group-block-div-extra">
                                                        
                                                                    </div>
                                                                </div>    
                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Matching</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block matching">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO MATCH" maxlength="45" key-enter="" class="input input-word">
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon green"><i class="icon-plus"></i></div>
                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>

                                                        <ul class="table-settings-row">
                                                            <li class="table-settings-cell tsc-first">
                                                                <p>Excluding</p>
                                                            </li>
                                                            <li class="table-settings-cell tsc-value">

                                                                <div class="add-source-group-block excluding">
                                                                    <div class="add-words-group">
                                                                        <input type="text" placeholder="ENTER WORDS TO EXCLUDE" maxlength="45" key-enter="" class="input input-word">
                                                                        <div ng-click="settingsEditWordsWColumn($event, 'add')" class="add-words-icon"><i class="icon-plus"></i></div>

                                                                        <div class="input-buffer-word" style="display:none"></div>
                                                                    </div>

                                                                    <div class="add-words-group-block">
                                                                        
                                                                    </div>
                                                    
                                                                </div>

                                                            </li>
                                                        </ul>



                                                    </div>

                                                </div>


                                                <div class="form-row-bottom">
                                                    <div ng-click="AddColumnCustomClose($event)" class="addcolumn-header-custom-close">
                                                        <i class="icon icon-cancel"></i>
                                                    </div>
                                                </div>


                                              </div>
                                          </div>
                            </div>

                        </div>
                        <div class="addcolumn-block">
                            <div data-type="addstandart" class="addcolumn-block-standart">
                                <div  class="addcolumn-block-words">
                                    <h3>CATALOG SITES <span>(a-Z)</span></h3>
                                    <div class="addcolumn-list-words">
                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="A" class="addcolumn-item-word">
                                                <span>A</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="B" class="addcolumn-item-word">
                                                <span>B</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="C" class="addcolumn-item-word">
                                                <span>C</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="D" class="addcolumn-item-word">
                                                <span>D</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="E" class="addcolumn-item-word">
                                                <span>E</span>
                                            </div>
                                        </div>
                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="F" class="addcolumn-item-word">
                                                <span>F</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="F" class="addcolumn-item-word">
                                                <span>G</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="H" class="addcolumn-item-word">
                                                <span>H</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="I" class="addcolumn-item-word">
                                                <span>I</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="J" class="addcolumn-item-word">
                                                <span>J</span>
                                            </div>
                                        </div>

                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="K" class="addcolumn-item-word">
                                                <span>K</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="L" class="addcolumn-item-word">
                                                <span>L</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="M" class="addcolumn-item-word">
                                                <span>M</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="N" class="addcolumn-item-word">
                                                <span>N</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="O" class="addcolumn-item-word">
                                                <span>O</span>
                                            </div>
                                        </div>

                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="P" class="addcolumn-item-word">
                                                <span>P</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="Q" class="addcolumn-item-word">
                                                <span>Q</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="R" class="addcolumn-item-word">
                                                <span>R</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="S" class="addcolumn-item-word">
                                                <span>S</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="T" class="addcolumn-item-word">
                                                <span>T</span>
                                            </div>
                                        </div>

                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="U" class="addcolumn-item-word">
                                                <span>U</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="V" class="addcolumn-item-word">
                                                <span>V</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="W" class="addcolumn-item-word">
                                                <span>W</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="X" class="addcolumn-item-word">
                                                <span>X</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="Y" class="addcolumn-item-word">
                                                <span>Y</span>
                                            </div>
                                        </div>

                                        <div class="addcolumn-group-word">
                                            <div ng-click="AddColumnWords($event)" data-letter="Z" class="addcolumn-item-word">
                                                <span>Z</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="NUMBERS" class="addcolumn-item-number addcolumn-item-word">
                                                <span>0-9</span>
                                            </div>
                                            <div ng-click="AddColumnWords($event)" data-letter="LUCKY" class="addcolumn-item-lucky addcolumn-item-word">
                                                <span>I'M LUCKY</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="addcolumn-block-feeds">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end add column -->
