<!-- CONTENT START -->
<div class="block-content">
    <div class="block-container-columns l-scroll">
        <div class="block-horizontal-columns">
        	<ng-include src="'/views/feed/column.html?4trfffgfffvggfhdsdfdgddаkrrfdsdffbdb'" ></ng-include>
        </div>	
    </div>   	
</div>
<!-- END CONTENT -->
