
<!-- LEFT MENU START -->
<div  class="block-left-menu">
    <div class="block-menu-top">
        <h2 class="block-title-top">TOP</h2>
        <a href="/top" class="block-title-link-top">/top</a>

        <p class="block-desc-top">
            самые интересные<br> и популярные новости<br>собраны вместе<br>в одной колонки
        </p>

    </div>
</div>
<!-- END LEFT MENU -->



<!-- CONTENT START -->
<div class="block-content">
    <div class="block-container-columns l-scroll">
        <div class="block-horizontal-columns">

        	<ng-include src="'/views/feed/column-top.html?4trfffgfffvggfhdsdfdgdfdаkrrfdsdffbdb'" ></ng-include>
        </div>	
    </div>   	
</div>
<!-- END CONTENT -->
