
<!-- LEFT MENU START -->
<div  class="block-left-menu">
    <div class="block-menu-trends">
    	<h2 class="block-title-trends">TRENDS</h2>
    	<a href="/trends" class="block-title-link-trends">/trend</a>

    	<p class="block-desc-trends">
    		Worldwide trends
    	</p>

    </div>
</div>
<!-- END LEFT MENU -->

<!-- CONTENT START -->
<div class="block-content">
    <div class="block-container-columns l-scroll">
        <div class="block-horizontal-columns">
        	<ng-include src="'/views/feed/column-trends.html?4trfffgfffvggfhdsdfdgdfdаkrrfdsdffbdb'" ></ng-include>
        </div>	
    </div>   	
</div>
<!-- END CONTENT -->
