<div class="c_user_container">
    <div class="c_user_global_block c_user_my_block">
        <div class="c_user_wrapper_header">

            <div class="c_user_cover">
                <img  class="item-img image-blur" data-large="http://media.contter.com/media/user/cover1.jpg" src="http://media.contter.com/media/user/cover1-thumb.jpg" image-blur-load-us>
            </div>

            <div class="c_user_card">
                <div class="c_user_card_content">

                    <div class="c_user_card_profile">

                        <div class="cup_avatar">
                            <img src="{{user.avatar}}">
                        </div>

                        <div class="cup_name">
                            <p>{{user.first_name}}</p>
                        </div>

                        <div class="cup_link">
                            <a title="{{user.username}}" href="/@{{user.username}}">@{{user.username}}</a>
                        </div>

                        <div class="cup_desc">
                            <p>{{user.description}}</p>
                        </div>
                    </div>

                    <div class="c_user_card_m">
                        <ul class="c_user_card_menu">
                            <li class="c_user_card_menu_item active">NEWS FEED</li>
                            <li class="c_user_card_menu_item">MY POSTS</li>
                            <li class="c_user_card_menu_item">MY SAVED</li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

        <div class="c_user_wrapper_content">
            <div class="c_user_wrapper_container">
                <div class="c_user_col c_user_col_1">
                    <div class="c_user_left_block">

                        <div class="c_user_walls">
                            <ul class="c_user_walls_list block-menu-list block-menu-list-wall block-menu-list-wall-block">
                                <li ng-repeat="wall in walls  | orderBy: 'sort'  " ng-style="{'background' : wall.color}" data-slug="{{ wall.slug }}" data-wall="{{ wall.id }}"  class="menu-item-wall c_user_wall_item"><span class="c_user_wall_item_title">{{wall.name}}</span></li>
                            </ul>
                        </div>

                        <div style="clear:both;"></div>

                        <div class="c_user_columns">
                            <ul class="c_user_columns_list">
                                <li ng-repeat="column in columns" ng-click="columnQuickView($event, {{ column.id }})" ng-style="{'border-color' : column.color}" data-slug="{{ column.slug }}" data-wall="{{ column.id }}"  class="c_user_column_item"><span class="c_user_wall_item_title" ng-style="{'color' : column.color}">{{column.name}}</span></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="c_user_col c_user_col_2">
                    <div class="c_user_feed">
                        <div class="c_user_scroll">
                            <div ng-repeat="item in feeds" ng-include src="'/views/feed/link-feed.html?4dtrsreddffdgdffbdb'"></div>
                        </div>
                    </div>
                </div>
                <div class="c_user_col c_user_col_3">
                    <div class="c_user_right_block">
                        <div class="c_quick_view" ng-class="{'c_quick_view_active' : column.id}">

                            <div ng-click="closeColumnQuickView($event)" class="c_quick_close">
                                    <i class="icon icon-cancel"></i>
                            </div>

                            <div ng-if="column.id" class="c_quick_view_feed">

                                <header class="cntr-column-header" >

                                    <span  noti-column column="column" notify="$parent.ws_new_links"></span>

                                    <div class="cntr-pallet ">
                                        <div ng-click="showMenuColumn($event)" class="cntr-pallet-mini">
                                            <img ng-if="column.types != 2" class="cntr-pallet-img-favicon pull-left" src="{{ column.icon }}">

                                            <div ng-if="column.types == 2" ng-style="{ 'background' : column.color }" class="cntr-pallet-img-word pull-left">
                                                <span ng-bind="column.name|firstletter"></span>
                                            </div>

                                            <span ng-style="{ 'background' : column.color }" class="cntr-pallet-mini-noti-dot"></span>
                                        </div>
                                        <div class="cntr-pallet-full">
                                            <h2 class="cntr-pallet-title" ng-bind="column.name"></h2>
                                            
                                        </div>
                                    </div>

                                </header>

                                <div  class="c_quick_view_feeds">
                                    <p ng-if="column.items.length<=0" class="c_quick_view_title">Nothing yet</p>
    
    
                                    <div ng-repeat="item in column.items" ng-include src="'/views/feed/link-quick.html?4dtrsreddffdgdffbdb'"></div>
                                </div>

                            </div>

                            <p class="c_quick_view_title">Quick view</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="c_user_global_block c_user_anonym_block">

    </div>
    <div class="c_user_global_blockc_user_alien_block">

    </div>
</div>