

<!-- CONTENT START -->
<div class="block-content">
    <div class="block-container-columns-walls l-scroll">
        <div class="nav-block-rec-walls">
            <h2>МЫ СОЗДАЛИ ДЛЯ ВАС СТЕНЫ ПО САМЫМ ПОПУЛЯРНЫМ НАПРАВЛЕНЯМ. </h2>
            <ul class="nav-menu-list-rec-walls">
                    <li data-name="RECOMMENDED"  ng-click="switchWallCat($event, 'RECOMMENDED')" class="nav-menu-item-rec-walls" ng-class="{'active' : cat == 'RECOMMENDED'}">RECOMMENDED FOR YOU</li>
                  <!--  <li data-name="SPORTS"  ng-click="switchWallCat($event, 'SPORTS')" class="nav-menu-item-rec-walls " ng-class="{'active' : cat == 'SPORTS'}">SPORTS</li>-->
                   <li ng-repeat="categ in categories" data-name="{{categ.name}}" ng-click="switchWallCat($event, {{categ.name}})" class="nav-menu-item-rec-walls" ng-class="{'active' : categ.name == cat}">{{categ.name}}</li>
            </ul>

            <div class="block-menu-list-rec-walls">
                <div class="lrw-wall" ng-repeat="wall in wallss" style="background: #7306d9">
                    <div  class="lrw-wall-table">
                        <div class="lrw-wall-table-row-columns">
                            <div class="lrw-wall-table-cell">
                                <div class="lrw-wall-columns">
                                    <div ng-repeat="column in wall.columns" class="lrw-wall-column">
                                        <img class="" src="{{column.icon}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lrw-wall-table-row-header">
                            <div class="lrw-wall-table-cell">
                                <h2>{{wall.name}}</h2>
                            </div>
                        </div>
                        <div class="lrw-wall-table-row-footer">
                            <div class="lrw-wall-table-cell">
                               <h2>{{wall.description}}</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>        
        </div>  
    </div>   	
</div>
<!-- END CONTENT -->
