<ul class="block-menu-list block-menu-list-column">
    <li ng-style="{ 'border-color' : (column.types == 1 || column.types == 2) ? column.color : '' }" ng-repeat="column in columns" data-column="{{ column.id }}" class="menu-item menu-item-column" ng-class="{'rel-column-menu' : column.types == 4}" ng-if="column.types == 1 || column.types == 2">

    	<img ng-if="column.types != 2" height="16" width="16" class="menu-item-img" src="{{ column.icon }}">
    	<div ng-if="column.types == 2" ng-style="{ 'background' : column.color }" class="menu-item-img-word"><span ng-bind="column.name|firstletter"></span></div>
    
    <span ng-style="{ 'background' : (column.types == 1 || column.types == 2) ? column.color : '#1562BD', 'border-color' : (column.types == 1 || column.types == 2) ? column.color : '#1562BD'}" data-column="{{ column.id }}" class="column-notification">
        <span class="noti__text"></span>
    </span>

    </li>
    <li add-column-der add-column="addColumn()" class="menu-item menu-item-add">
        <img height="16" width="16" class="menu-item-img" src="/images/icon-col.png">
    </li>
    
</ul>