



<!-- start column -->
<section  ng-repeat="column in columns | orderBy: 'sort' " ng-animate="'animate'" class="column size{{column.st.size}}"  ng-class="{'rel-column' : column.types == 4, 'related-column' : column.related_column }" ng-mouseenter="hoverColumnActive({el: column.id})" data-site="{{ column.site_id }}" data-column="{{ column.id }}" >

    
       
                            <div data-page="10" scroll-column ng-class="{'column-standart-panel' : column.types == 6}" class="column-panel column-top-panel">

                                <header class="cntr-column-header cntr-column-header-open-full" ng-if="column.types == 6" >

                                    <span  noti-column column="column" notify="$parent.ws_new_links"></span>

                                    <div class="cntr-pallet ">
                                        <div class="cntr-pallet-mini">
                                            <div class="cntr-pallet-top">
                                                <i class="icon icon-fire-2"></i>
                                            </div>
                                        </div>
                                        <div class="cntr-pallet-full">
                                            <h2 class="cntr-pallet-title" ng-bind="column.name"></h2>
                                            <div class="cntr-pallet-add">
                                                <p class="cntr-pallet-add-button">ADD</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cntr-pallet-settings ">
                                        
  

                                    </div>

                                </header>

                                

                               
                                

                                <div class="column-content">
                                    <div class="column-container-scroller">
                                        <div class="column-container">

                                            <div >

                                             <!--   <div class="loader-recontent-content" ng-class="{'active' : !column.get_recontent}">
                                                    <div class="loader  loader-ellipsis-recontent" data-type="default"></div>
                                                    <p class="loader-recontent-content-text">Please wait<br>We're loading the feed<br></p>
                                                </div>

                                                <div class="none-recontent-content" ng-class="{'active' : column.get_recontent && column.recontent_items.length <= 0}">
                                                    <p class="none-recontent-content-text">Nothing yet</p>
                                                </div>  
                                            -->


                                                <div ng-repeat="item in column.items" ng-include src="'/views/feed/link-top.html?4dsfred5vfb'"></div>

                                            </div>
                                            
                                            

                                        </div>
                                    </div>
                                </div>

                            </div>
</section>
<!-- end column -->

