<article class="column-item">
	
	<div class="item-content" >
        <div ng-if="userType == 'Current' && (column.types == 1 || column.types == 2) && column.launch == 'recontent' " class="post__badge_recontent">
        
        </div>   

        <a target="_blank" href="{{item.url}}" class="item-link">
            <img class="item-img" src="http://contter.dev/media/img/_{{item.medium_img}}">
        </a>

        <div class="item-extra">
            <a class="i-shr l-share">
                <i class="icon-share"></i>
            </a>
            <a ng-if="userType == 'Current' && (column.types == 1 || column.types == 2) && column.launch == 'standart' " ng-click="ReContent($event, {{item.id}})" class="i-re l-recontent" title="ReContent">
                <div ng-class="{'active' : item.if_recontent}" class="i-re-div"></div>
            </a>
        </div>

        <div ng-if="userType == 'Current' && (column.types == 1 || column.types == 2) && column.launch == 'standart' " ng-click="Related($event, {{item.id}})" class="post__to__relevat l-relevat">
            <i></i>
        </div>

        <div ng-if="userType == 'Current' && (column.types == 1 || column.types == 2) && (column.launch == 'standart' || column.launch == 'favourite')  " ng-class="{'active' : item.if_favourite}" class="post__to__favourite" ng-click="ToFavoutite($event, {{item.id}})">
            <i class="icon-star-filled"></i>
        </div>  

	</div>

</article>