<!--
                                            <div ng-if="column.types == 1"  class="ac-form-block-site">
                                              <div class="ac-form-settings-block">

                                    <div class="ac-form-acs-show-group">
                                        <p class="acs-show-group-p">Show in wall </p>
                                        <div class="acs-show-group-div">
                                            
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                    <div class="ac-form-acs-filter-sort">
                                        <p class="acs-show-group-p">Filter sorting <i ng-click="settingsEditPlusWordColumn({$event: $event, el: column.id})" class="acs-show-group-add icon-plus"></i></p>
                                        <div class="acs-show-group-div">

                                            <span class="acs-show-group-span acs-new"><span>Tarasenko</span></span>
                                            <span class="acs-show-group-span acs-new"><span>Blackshawks</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>Artemiy Panarin</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>Bobrovsckiy</span> </span>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>


                                    <div class="ac-form-acs-filter-exlude">
                                        <p class="acs-show-group-p">Filter exclude<i ng-click="" class="acs-show-group-add icon-plus"></i></p>
                                        <div class="acs-show-group-div">

                                            <span class="acs-show-group-span acs-new"><span>Patrick keine</span></span>
                                            <span class="acs-show-group-span acs-new"><span>Military</span> </span>
                                            <span class="acs-show-group-span acs-new"><span>capitals</span> </span>

                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                    <div class="ac-form-acs-size">
                                        <p class="acs-show-group-p">Size column </p>
                                        <div class="acs-show-group-div">
                                            <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 200})" class="acs-show-group-span acs-size"><span>200</span></span>
                                            <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 300})" class="acs-show-group-span acs-size acs-size-active"><span>300</span> </span>
                                            <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 400})" class="acs-show-group-span acs-size"><span>400</span> </span>
                                            <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 500})" class="acs-show-group-span acs-size"><span>500</span> </span>
                                            <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 600})" class="acs-show-group-span acs-size"><span>600</span> </span>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>

                                    <!--<div class="ac-form-acs-public">
                                        <div ng-click="changeTypeOfColumnForm()" ng-class="typeCClassForm" class="acs_toggle_block ">
                                           <label class="checkbox hidden">
                                                <input id="column_in_toggle" type="checkbox" name="public" value="public">
                                           </label>
                                        <div class="acs_toggle_button">
                                           <div class="acs_toggle_site_text">Public</div>
                                           <div class="acs_toggle_word_text">Private</div>
                                           <span class="acs_toggle_handle"><span></span></span>
                                        </div>
                                        <div class="acs_toggle_label">
                                           <span class="acs_toggle_site_label">Read all</span>
                                           <span class="acs_toggle_word_label">Only you</span>
                                        </div>
                                        </div>
                                    </div>-->
                                    <div style="clear:both"></div>

                                              </div>
                                            </div>


                                            <div ng-if="column.types == 2" class="ac-form-block-word">
                                              <div style="clear:both"></div>
                                                <div class="ac-form-settings-block">
                                                  <div class="ac-form-acs-source-sort">
                                                      <p class="acs-show-group-p">Source <i ng-click="settingsEditSourceWColumn({$event: $event, el: column.id})" class="acs-show-group-add icon-plus"></i></p>
                                                      <div class="acs-show-group-div">
                                                          <span class="acs-show-group-span acs-new"><span>ESPN NBA</span></span>
                                                      </div>
                                                  </div>
                                                  <div style="clear:both"></div>


                                                  <div class="ac-form-acs-show-group">
                                                      <p class="acs-show-group-p">Show in wall </p>
                                                      <div class="acs-show-group-div">
                                                          <!--
                                                          <span class="acs-show-group-span acs-current">Sports <span>current</span></span>
                                                          <i class="acs-show-group-add icon-plus"></i>
                                                          -->
                                                      </div>
                                                  </div>
                                                  <div style="clear:both"></div>

                                                  <div class="ac-form-acs-filter-sort">
                                                      <p class="acs-show-group-p">Filter sorting <i ng-click="settingsEditPlusWordColumn({$event: $event, el: column.id})" class="acs-show-group-add icon-plus-squared"></i></p>
                                                      <div class="acs-column-st-block">

                                                        <div><input id="inp"></div>

                                                      </div>
                                                      <div class="acs-show-group-div">

                                                          <span ng-repeat="w_f in column.st.word_filter" class="acs-show-group-span acs-new"><span>{{w_f}}</span></span>

                                                          <!--<i class="acs-show-group-add icon-plus"></i>
                                                          -->
                                                      </div>
                                                  </div>
                                                  <div style="clear:both"></div>


                                                  <div class="ac-form-acs-filter-exlude">
                                                      <p class="acs-show-group-p">Filter exclude<i ng-click="" class="acs-show-group-add icon-plus"></i></p>
                                                      <div class="acs-show-group-div">

                                                          <span ng-repeat="w_e in column.st.word_exclude" class="acs-show-group-span acs-new"><span>{{w_e}}</span></span>

                                                      </div>
                                                  </div>
                                                  <div style="clear:both"></div>

                                                  <div class="ac-form-acs-size">
                                                      <p class="acs-show-group-p">Size column </p>
                                                      <div class="acs-show-group-div">
                                                          <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 200})" ng-class="{'acs-size-active' : column.st.size == 200}" class="acs-show-group-span acs-size"><span>200</span></span>
                                                          <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 300})" ng-class="{'acs-size-active' : column.st.size == 300}" class="acs-show-group-span acs-size"><span>300</span> </span>
                                                          <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 400})" ng-class="{'acs-size-active' : column.st.size == 400}" class="acs-show-group-span acs-size"><span>400</span> </span>
                                                          <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 500})" ng-class="{'acs-size-active' : column.st.size == 500}" class="acs-show-group-span acs-size"><span>500</span> </span>
                                                          <span ng-click="settingsEditSizeColumn({$event: $event, el: column.id, em: 600})" ng-class="{'acs-size-active' : column.st.size == 600}" class="acs-show-group-span acs-size"><span>600</span> </span>
                                                      </div>
                                                  </div>
                                                  <div style="clear:both"></div>

                                                    <!--div class="ac-form-acs-public">
                                                        <div ng-click="changeTypeOfColumnForm()" ng-class="typeCClassForm" class="acs_toggle_block ">
                                                           <label class="checkbox hidden">
                                                                <input id="column_in_toggle" type="checkbox" name="public" value="public">
                                                           </label>
                                                        <div class="acs_toggle_button">
                                                           <div class="acs_toggle_site_text">Public</div>
                                                           <div class="acs_toggle_word_text">Private</div>
                                                           <span class="acs_toggle_handle"><span></span></span>
                                                        </div>
                                                        <div class="acs_toggle_label">
                                                           <span class="acs_toggle_site_label">Read all</span>
                                                           <span class="acs_toggle_word_label">Only you</span>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div style="clear:both"></div>-->

                                                </div>
                                            </div>
                                          -->